/* Fonts */
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;

  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum-v12-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprum-v12-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum-v12-latin_cyrillic-italic.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;

  src: local('Cuprum Bold'), local('Cuprum-Bold'),

       url('../fonts/cuprum-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum-v12-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprum-v12-latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum-v12-latin_cyrillic-700italic.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}


/* Variables */
:root{
  --background-basic: #F1F5F7;
  --background-deep:#293449;
  --background-light:#405069;
  --contrast-color: #FFFFFF;
  --basic-logo: #EE3643;
  --basic-logo-palpable: #BA2732;
  --basic-logo-hover: #CA2C37;
  --basic-continue: #63A63E;
  --basic-continue-palpable: #518534;
  --basic-continue-hover: #5FBB2D;
  --continue-shadow: #367315;
  --basic-color: #32425C;
  --basic-color-palpable: #98A0AD;
  --basic-graylite: #C5C5C5;
  --back-color: #F3F7F9;
  --item-color-1: #FFBF47;
  --item-color-2:#3BBCE3;
  --item-color-3: #DC91D8;
  --item-color-4: #8ED78F;
  --item-color-5: #FFC047;
  --background-light: rgba(255, 255, 255, 0.3);
  --background-caption: rgba(0, 0, 0, 0.25);
  --logo-shadow: rgba(0, 0, 0, 0.24);
  --background-section-caption: #F9F5F0;
  --item-border-color: #EAEAEA;
  --product-header: #000000;
  --prev-value-color: #A9A9A9;
  --sub-menu-color: #FFD180;
  --social-background: #212A3A;
}

/* Global */
img {
  max-width: 100%;
  height: auto;
}

.page a {
  text-decoration: none;
}

.page ul {
  list-style: none;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


/* header */

.header-main{
  min-width: 1200px;
  /* height: 320px; */
  /* fallback */
  background-color: var(--background-basic);
  background-image: url("../img/bg-light.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.header-container-top{
  background-color: var(--background-deep);
}

.header-container-top a{
  color: var(--contrast-color);
  font-size: 18px;
  line-height: 24px;
}

.header-logo{
  background-color: var(--basic-logo);
  /* box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24); */
}
.header-checkout{
  background-color: var(--basic-continue);
}

.header-desc{
  color: var(--basic-logo);
  font-family: Cuprum;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.header-phone{
  color: var(--basic-logo);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--contrast-color);
  background-color: var(--back-color);

}

.header-address{
  color: var(--basic-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.header-sign{
  background-color: var(--contrast-color);
  color: var(--basic-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}

.main-nav{
  background-color: var(--basic-color);
  box-shadow: inset 0px -5px 0px var(--background-deep);
  min-width: 940px;
  /* height: 60px; */
}

.main-nav a {
  color: var(--contrast-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
  background-color: var(--background-deep);
}

.main-container{
  min-width: 940px;
}

.catalog-group-list li:nth-child(n+1) {
  background-color: var(--item-color-1);
}

.catalog-group-list li:nth-child(n+2) {
  background-color: var(--item-color-2);
}

.catalog-group-list li:nth-child(n+3) {
  background-color: var(--item-color-3);
}

.catalog-group-list li:nth-child(n+4) {
  background-color: var(--item-color-4);
}

.catalog-group-list li:nth-child(n+5) {
  background-color: var(--item-color-5);
}

.catalog-group-list h3 {
  color: var(--contrast-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.catalog-group-list a {
  background: var(--background-light);
  mix-blend-mode: normal;
  color: var(--contrast-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.new{
  background: var(--basic-logo);
  color: var(--contrast-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-group-slider {
  width: 620px;
  height: 260px;
  background-color: var(--basic-color);
}

.catalog-group-slider h3{
  /* background-color: var(--basic-color); */
  color: var(--contrast-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-group-slider p{
  /* background-color: var(--basic-color); */
  color: var(--contrast-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.catalog-group-slider div{
  background-color: var(--background-caption);
}

.button {
  background-color: var(--basic-logo);
  color: var(--contrast-color);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-logo-hover);
}

.button:active{
  background-color: var(--basic-logo-palpable);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-logo-hover);
}

.favorite-container>div {
  background-color: var(--background-section-caption)
}
.favorite-container h2 {
  color: var(--basic-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.favorite-list>li{
  border: 1px solid var(--item-border-color);
  width: 220px;
  min-height: 145px;
  max-height: 318px;
}

.product-header {
  color: var(--product-header);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-cost-old {
  color: var(--prev-value-color);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.product-cost-current {
  background-color: var(--basic-logo);
  color: var(--contrast-color);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.product-buy {
  background-color: var(--basic-continue);
  color: var(--contrast-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  box-shadow: inset 0px -3px 0px var(--continue-shadow);
  border-radius: 2px;
}

.product-bookmark {
  background-color: var(--contrast-color);
  color: var(--basic-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  border: 3px solid var(--basic-continue);
  box-sizing: border-box;

}

.service-container {
  background-color: var(--background-basic);
}

.service-container>h2 {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-container>p {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.service-list>li>button {
  width: 240px;
  height: 61px;
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  border: none;
}

.selected {
  background-color: var(--contrast-color);
  color: var(--basic-color);
}

.unselected {
  background-color: var(--basic-color);
  color: var(--contrast-color);
  box-shadow: 0px 1px 0px var(--background-deep), inset 0px 1px 0px var(--background-light);
}

.service-container h3 {
  color: var(--basic-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-container>div>p{
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.service-tab {
  display: none;
}

.service-tab-current {
  display: block;
}

.service-tab-delivey{
  background-image: url("img/delivery.png");
}

.about-container h2{
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-container>p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.about-list li {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.contacts h2{
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts>p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.main-footer {
  background-color: var(--basic-color);
}

.footer-communicate {
  background-color: var(--background-deep);
}

.footer-logo {
  background-color: var(--basic-logo);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
}

.footer-contacts p, .footer-contacts a{
  color: var(--back-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-list a {
  color: var(--background-basic);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-catalog-list a {
  color: var(--sub-menu-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-copyright {
  color: var(--contrast-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback {
  color: var(--contrast-color);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a {
  color: var(--sub-menu-color);
}

.footer-social-list a {
  background-color: var(--social-background);
  border-radius: 50%;
  padding: 5px;
  width: 44px;
  height: 44px;
}

.modal{

}

.modal-feedback {

}

.modal-map {

}
